@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
* ul li {
  list-style: none;
}

div#wrapper {
  width: 100%;
  border: 10px solid black;
}
div#wrapper header div.header_box {
  background-color: azure;
}
div#wrapper header div.header_box::after {
  content: "";
  display: block;
  clear: both;
}
div#wrapper header div.header_box h1 {
  border: 1px solid bisque;
  float: left;
}
div#wrapper header div.header_box ul.util {
  border: 1px solid bisque;
  float: right;
}
div#wrapper header div.header_box ul.util::after {
  content: "";
  display: block;
  clear: both;
}
div#wrapper header div.header_box ul.util li {
  float: left;
}
div#wrapper header div.header_box ul.util li a {
  display: block;
}
div#wrapper header div.header_box_nav {
  width: 1024px;
  margin: 0 auto;
  background-color: aqua;
}
div#wrapper header div.header_box_nav h2 {
  border: 1px solid bisque;
  display: none;
}
div#wrapper header div.header_box_nav ul {
  border: 1px solid bisque;
}
div#wrapper header div.header_box_nav ul::after {
  content: "";
  display: block;
  clear: both;
}
div#wrapper header div.header_box_nav ul li {
  float: left;
}
div#wrapper header div.header_box_nav ul li a {
  display: block;
}
div#wrapper div#content section#left-culumn {
  padding: 40px 0;
  box-sizing: border-box;
  background-color: rgb(205, 100, 100);
}
div#wrapper div#content section#right-culumn {
  padding: 40px 0;
  box-sizing: border-box;
  background-color: darkcyan;
}

@media (max-width: 767px) {
  div#wrapper::before {
    content: "767이하";
    clear: both;
    display: block;
    width: 300px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
  }
  div#wrapper header#header div.header_box {
    width: 100%;
    margin: 0 auto;
    background-color: black;
  }
  div#wrapper footer#footer div.footer_box {
    width: 100%;
    margin: 0 auto;
    background-color: blueviolet;
  }
}
@media (min-width: 768px) {
  div#wrapper::before {
    content: "768px 이상";
    clear: both;
    display: block;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
  }
  div#wrapper div.header_box {
    width: 100%;
    margin: 0 auto;
    background-color: black;
  }
  div#wrapper div#content {
    height: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
  }
  div#wrapper div#content::after {
    content: "";
    clear: both;
    display: block;
  }
  div#wrapper div#content section#left-culumn {
    float: left;
    width: 70%;
    height: 500px;
    background-color: aqua;
  }
  div#wrapper div#content section#right-culumn {
    float: right;
    width: 30%;
    height: 500px;
    background-color: rgb(130, 184, 144);
  }
  div#wrapper div.footer_box {
    width: 100%;
    margin: 0 auto;
    background-color: blueviolet;
  }
}
@media (min-width: 1024px) {
  div#wrapper::before {
    content: "1024px 이상";
    clear: both;
    display: block;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
  }
  div#wrapper header#header {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: rgb(187, 125, 43);
  }
  div#wrapper header#header div.header_box {
    width: 1024px;
    margin: 0 auto;
    background-color: black;
  }
  div#wrapper div#content {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    background-color: antiquewhite;
  }
  div#wrapper div#content::after {
    content: "";
    clear: both;
    display: block;
  }
  div#wrapper div#content section#left-culumn {
    float: left;
    width: 70%;
    height: 500px;
    background-color: aqua;
  }
  div#wrapper div#content section#right-culumn {
    float: right;
    width: 30%;
    height: 500px;
    background-color: rgb(130, 184, 144);
  }
  div#wrapper footer#footer {
    margin: 0 auto;
    height: 40px;
    background-color: rgb(156, 125, 186);
  }
  div#wrapper footer#footer div.footer_box {
    width: 1024px;
    margin: 0 auto;
    background-color: blueviolet;
  }
}

/*# sourceMappingURL=style.css.map */
